/* body {
  font-family: 'Montserrat', cursive;
} */

#title-sec {
  background-image: url("../img/title.jpg");
  background-size: 100%;
  color: white;
}

.tooltip {
  cursor: pointer;
  background-color: black;
  text-align: center;
  padding: 10px;
  pointer-events: none;
  color: white;
}

#select-players {
  margin: auto;
  width: 50%;
  padding: 10px;
  width: 230px;
  margin-bottom: 0px;
}

#select-players-continent {
  margin: auto;
  width: 50%;
  padding: 10px;
  width: 230px;
  margin-bottom: 40px;
}

.div-container {
  margin-left: 100px;
  margin-right: 100px;
}

.mapPath {
  paint-order: stroke fill;
  stroke-width: 1.8;
  stroke: white;
}

.mapPath:hover {
  paint-order: stroke fill;
  stroke-width: 3;
  stroke: gray;
}

#slider {
  width: 200px;
  margin-right: 200px;
  margin-left: 200px;
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slider-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-text {
  margin: 30px;
}

.enclosing-div {
  display: flex;
  flex-direction: row;
}

#continent-line-sec, #data2-sec, #rq-sec {
  background-color: #f2e7c6;
}

.model-div {
  border-style: solid;
  border-width: 3px;
  width: 600;
  margin: 30px;
  margin-right: 200px;
  margin-left: 200px;
  padding: 30px;
  border-radius: 20px;

}

#avg-rank-img {
  width: 450px;
  border: 3px solid black;
  margin-top: 100px;
}

.enclosing-div div {
  border-right: 1px solid black;
}
.enclosing-div div:last-child {
  border-right: none;
}
